.barChartWrap {
  width: 100%;
  padding: 0;
  margin: 0;
}

.axisLabelRight {
  padding: 0;
  margin: 0;
  width: 49%;
  display: inline-block;
  text-align: right;
}

.axisLabelLeft {
  padding: 0;
  margin: 0 0 0 1%;
  width: 49%;
  display: inline-block;
}
.skillsContainer {
  float: right;
  position: relative;
  right: 7%;
  width: 50%;
  margin: 19px 0 0 0;
  padding: 0;
}

.skillsImgRow {
  margin: 0;
  padding: 0;
  width: 10%;
  float: left;
}

.techLogoImg {
  margin: 0 0 10px 0;
  width: 55%;
  padding: 0;
}

.logoWrap {
  width: 100%;
}
