
.landingBackground {
  width: 100%;
  height: calc(105%);
  padding: 0;
  margin: -5% 0 0 0;
  position: absolute;
  background: url("https://s3-us-west-2.amazonaws.com/cslwebsite/rivermist2.jpg") no-repeat bottom center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #161616;
}

.landingTextRow {
  position: relative;
  width: 100%;
  top: 50%;
}


.mainHeader {
  font-size: 10em;
  color: white;
  font-family: "Dawning of a New Day";
  margin: 0;
  padding: 0 25px 0 0;
  float: right;
  clear: right;
  z-index: 1;
}

.headerName {
  font-size: 8em;
  color: white;
  font-family: "Quicksand";
  margin: 0; 
  padding: 0 25px 0 0;
  float: right;
}

@media screen and (max-width: 785px) {
  .landingTextRow {
    top: 15%;
  }

  .mainHeader {
    font-size: 3em;
  }

  .headerName {
    font-size: 3em;
  }
}
