
.landingContainer {
  padding: 0;
  margin: 0;
  background: url("../../../public/rivermist2.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-color: #272733;
}

.landingTextRow {
  position: relative;
  top: 70%;
  width: 100%;
}


.mainHeader {
  font-size: 10em;
  color: white;
  font-family: "Quicksand";
  margin: 0;
  padding: 0;
  float: right;
}

@media screen and (max-device-width: 785px) {
  .landingTextRow {
    top: 80%;
    left: 100%;
    transform: translate(-100%, -70%);
    font-size: 0.4em;
  }
}
