.folioContainer {
  width: 100%;
  padding: 0;
  margin: 0;
  padding: 60px 0 20px 0;
  background-color: #252525;
  color: white;
  position: relative;
}

.folioSectionWrap {
  font-size: 22px;
  width: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.folioImgDiv {
  padding-bottom: 60px;
}

.folioImgDiv img {
  width: 100%;
  box-shadow: 0 0 1px 1px rgba(255,255,255, 0.5);
  transition: all 250ms ease-in-out;
}

.folioImgDiv img:hover {
  cursor: pointer;
  transform: scale(1.01);
  opacity: 0.7;
}

.folioText {
  font-size: 18px;
}

.folioIframe {
  width: 100%;
  padding: 10px;
}

.folioIntroWrap {
  padding: 10px;
}

.folioSectionHead {
  border-bottom: 2px solid white;
  font-family: 'Cedarville Cursive';
}

@media screen and (max-width: 785px) {
  .folioIframe {
    width: 100%;
  }
  .folioSectionWrap {
    width: 100%;
  }
}
