.resumeEducationContainer {
  width: 30%;
  padding: 1%;
  float: left;
  clear: left;
  position: relative;
  left: 20%;
  transform: translateX(-50%);
}

.educationItemWrap {
  margin: 0 0 50px 0;
  position: relative;
  height: 70px;
}

.educationText {
  width: 20%;
}

.educationTextRight {
  float: right;
  padding: 0;
  margin: 0;
  font-size: 20px;
}
.educationTextLeft {
  font-size: 20px;
}

