.resumeEducationContainer {
  width: 40%;
  padding: 1%;
}

.resumeEducationHeader {
  font-weight: bold;
  padding: 0;
  margin: 0 0 20px 0;
  border-bottom: 2px solid silver;
}

.educationItemWrap {
  margin: 0 0 50px 0;
  position: relative;
}

.educationEntryContent {
  display: inline-block;
}

.educationText {
  width: 20%;
}

.educationDate {
  float: right;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1375px) {
  .resumeEducationContainer {
    width: 80%;
    margin: auto;
  }
}
