html {
  width: 100%;
  height: 100%;
  background-image: url('../../public/coreyBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.mainHeaderBox {
  margin-top: 100px;
  margin-left: 30%;
  margin-right: 30%;
  border: 3px solid white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mainHeader {
  color: white;
  font-size: 3vw;
  font-family: 'Josefin Sans';
}

.App {
  text-align: center;
}