.resumeBtn {
  background-color: #6da7ff;
  width: 100%;
  margin: auto;
  border-radius: 5px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.resumeImg {
  width: 100%;
}

.resumeImgDiv {
  width: 60%;
  margin: 30px auto;
}

.resumeImgDiv img:hover {
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.3);
}

@media screen and (max-device-width: 785px) {
  .resumeImgDiv {
    width: 90%;
    margin: 10px auto;
  }
}
