@media screen and (max-width: 1375px) {
  .resumeContainer {
    height: auto;
  }

  .resumeExperienceContainer {
    width: 70%;
    height: auto;
    margin: auto;
    float: none;
    left: 0;
    transform: initial;
  }

  .positionDateWrap {
    display: initial;
    text-align: center;
  }

  .experienceItemWrap {
    height: 160px;
  }

  .resumeEducationContainer {
    width: 70%;
    margin: auto;
    float: none;
    clear: none;
    left: 0;
    transform: initial;
  }


  .educationTextRight {
    font-size: 16px;
  }

  .resumeEducationContainer h3 {
    font-size: 20px;
  }

  .skillsContainer {
    float: none;
    width: 70%;
    margin: 15px auto 30px auto;
    right: 0;
  }

  .companyLogo {
    width: 15%;
    margin: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .positionDateWrap {
    float: none;
    text-align: center;
    margin: 10px 0 0 0;
  }
}

@media screen and (max-width: 785px) {
  .resumeContainer {
    height: auto;
  }
  .resumeExperienceContainer {
    width: 90%;
    height: auto;
    margin: auto;
    float: none;
    left: 0;
    transform: initial;
  }

  .positionDateWrap {
    display: initial;
    text-align: center;
  }

  .experienceItemWrap {
    height: 160px;
  }

  .resumeEducationContainer {
    width: 90%;
    margin: auto;
    float: none;
    clear: none;
    left: 0;
    transform: initial;
  }



  .educationTextRight {
    font-size: 16px;
  }

  .resumeEducationContainer h3 {
    font-size: 20px;
  }

  .skillsContainer {
    float: none;
    width: 90%;
    margin: 15px auto 30px auto;
    right: 0;
  }

  .companyLogo {
    width: 50%;
    margin: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .positionDateWrap {
    float: none;
    text-align: center;
    margin: 10px 0 0 0;
  }
}
