.resumeContainer {
  width: 100%;
  background-color: rgb(37, 37, 37);
  padding: 60px 0 0 0;
  margin: 0 0 25px 0;
  color: white;
  height: 800px;
}

.verticalStyleLine {
  display: inline-table;
  width: 1px;
  background-color: silver;
  padding: 0;
  margin: 0;
}

.resumeHeader {
  font-weight: bold;
  padding: 0;
  margin: 0 0 20px 0;
  border-bottom: 5px solid white;
}