.aboutSectionContainer {
  width: 100%;
  margin: -20px 0 0 0;
  padding: 20px 0 20px 0;
  background-color: #879AD2;
}

.aboutSectionWrap {
  margin: auto;
  width: 55%;
  font-size: 22px;
  font-family: "Ubuntu";
  padding: 0;
  color: white;
}

.portraitDiv {
  display: inline-table;
  width: 100%;
}

.aboutPortrait {
  height: 250px;
  width: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100%;
  z-index: 10;
}

.aboutPortraitBacking {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 50px 0;
  width: 247px;
  height: 195px;
  background-color: black;
  border-radius: 100%;
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.6);
  opacity: 0.6;
}

.aboutImg img {
  display: inline-table;
  width: 31.1%;
  margin: 0 1.1% 0 1.1%;
  border: 2px solid white;
  border-radius: 5px;
}

.aboutImg {
  padding: 5px;
  border-radius: 5px;
}
