.portraitDiv {
  display: inline-table;
  width: 100%;
}

.aboutPortrait {
  height: 250px;
  width: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100%;
  z-index: 10;
}

.aboutPortraitBacking {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 50px 0;
  width: 242px;
  height: 195px;
  background-color: white;
  border-radius: 100%;
  opacity: 0.3;
}

.aboutImg img {
  display: inline-table;
  width: 31.1%;
  margin: 0 1.1% 0 1.1%;
  border: 2px solid white;
  border-radius: 5px;
}

.aboutImg {
  padding: 5px;
  border-radius: 5px;
}
