.resumeExperienceContainer {
  padding: 1%;
  margin: auto auto 3% auto;
  width: 50%;
  position: relative;
}

.experienceItemWrap {
  margin: 40px 0 40px 0;
  width: 100%;
  height: 130px;
}

.resumeExperienceText {
  font-weight: bold;
  font-size: 20px;
}

.resumeExperienceDate {
  font-size: 20px;
}

.companyLogo {
  width: 30%;
  display: inline-block;
}

.positionDateWrap {
  width: 70%;
  display: inline-block;
  text-align: right
}
