.resumeExperienceContainer {
  margin: auto auto 3% auto;
  width: 50%;
  position: relative;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 50px;
}

.experienceItemWrap {
  display: grid;
  grid-template-columns: 50% 50%;
}

.resumeExperienceText {
  font-weight: bold;
  font-size: 20px;
}

.resumeExperienceDate {
  font-size: 20px;
}

.positionDateWrap {
  justify-self: end;
  text-align: right;
}

.companyLogo {
  width: 100px;
}

@media (min-width: 1020px) {
  .experienceItemWrap {
    justify-content: center;
  }
  .companyLogo,
  .positionDateWrap {
    justify-self: center;
  }
}

@media (min-width: 1370px) {
  .experienceItemWrap {
    justify-content: center;
  }
  .companyLogo {
    justify-self: center;
  }
}
