.contactContainer {
  width: 100%;
  height: 100%;
  margin: 0 0 0 0;
  padding: 20px 0 20px 0;
  background-color: #161616;
}

.contactSectionWrap {
  width: 60%;
  height: 40%;
  left: 50%;
  top: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  color: white;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.contactRow {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0;
  margin: 0;
  padding: 0;
}

.contactIconWrapper {
  font-size: 16px;
  display: inline-table;
  margin: 0 20px 0 20px;
  padding: 0;
  text-align: center;
}

.fa:hover {
  color: white;
}

.fa-facebook-square {
  color: #3b5998;
}

.fa-envelope-square {
  color: #f91616;
}

.fa-linkedin-square {
  color: #0077b5;
}

.fa-github-square {
  color: gray;
}

.icon {
  font-size: 10em;
}
