.menuCloseBtn {
  width: 35px;
  height: 35px;
  position: relative;
  left: 75%;
  padding: 0;
  margin: 10px 0 -10px 0;
}

.menuCloseBtn:after {
  content: "";
  height: 35px;
  border-left: 2px solid rgb(29, 29, 48);
  position: absolute;
  transform: rotate(45deg);
  left: 15px;
}

.menuCloseBtn:before {
  content: "";
  height: 35px;
  border-left: 2px solid rgb(29, 29, 48);
  position: absolute;
  transform: rotate(-45deg);
  left: 15px;
}

.mobileNavBar {
  position: fixed;
  top: 0;
  z-index: 1500;
  background-color: #161616;
  width: 100%;
  height: 46px;
}

.menuClicker {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px;
}

.navDivEntry {
  height: 60px;
  background-color: #161616;
  padding: 0;
  margin: 0;
  z-index: 1500;
  position: relative;
}

.navStickTop {
  height: 60px;
  width: 100%;
  background-color: #161616;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 1500;
}

.navDivMobile {
  padding: 10px;
}

.navButton {
  color: white;
  font-family: "Quicksand" !important;
  font-size: 2.5em;
  margin: 0 20px 0 20px;
  padding: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: right;
}

.navButton:hover {
  cursor: pointer !important;
  color: skyblue !important;
}

.navButtonMobile {
  color: rgb(29, 29, 48) !important;
  font-family: "Quicksand" !important;
  display: list-item !important;
  font-size: 2.5em;
  margin: 20px auto;
}

.navButtonMobile:hover {
  cursor: pointer !important;
  color: gray !important;
}

.mobileMenuButton {
  margin: 3px 0 0 0;
  float: right;
}

.navIcon {
  height: 60px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
}

.mobileNavIcon {
  height: 46px;
  position: relative;
  display: inline-block;
}

.mobileIconName {
  color: white;
  font-size: 25px;
  font-family: "Quicksand";
  display: inline-block;
  position: relative;
  transform: translateY(20%);
}

.navIconName {
  color: white;
  font-size: 30px;
  font-family: "Quicksand";
  display: inline-block;
  position: relative;
  top: 25%;
  left: 10px;
  opacity: 0;
}

.navNameFadeIn {
  -webkit-animation: fadein 2s forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s forwards; /* Firefox < 16 */
  -ms-animation: fadein 2s forwards; /* Internet Explorer */
  -o-animation: fadein 2s forwards; /* Opera < 12.1 */
  animation: fadein 2s forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navNameFadeOut {
  -webkit-animation: fadeout 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeout 2s; /* Firefox < 16 */
  -ms-animation: fadeout 2s; /* Internet Explorer */
  -o-animation: fadeout 2s; /* Opera < 12.1 */
  animation: fadeout 2s;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
