.navAfter {
  animation: navSlide 0.6s;
  animation-fill-mode: forwards;
}

.navEntry {
  position: fixed;
  top: 40%;
  transform: translateY(-50%);
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

.navBtn {
  color: white;
  font-family: "Josefin Sans";
  font-size: 3vh;
  text-align: center;
  margin: 0 1vmin 0 1vmin;
  padding: 5px;
}

.navBtn:hover {
  cursor: pointer;
  color: gray;
  animation: btnHover 0.25s;
  animation-fill-mode: both;
}

.navActive {
  color: #6da7ff;
  border-bottom: 2px solid #6da7ff;
  font-family: "Josefin Sans";
  font-size: 3vh;
  text-align: center;
  animation: btnHover 0.25s;
  animation-fill-mode: both;
  margin: 0 1vmin 0 1vmin;
  padding: 5px;
}

.mobileBarDiv {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes btnHover {
  100% {
    transform: translate(0, -0.2em);
  }
}

@keyframes navSlide {
  0% {
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -220%);
    display: inline-block;
  }
  100% {
    opacity: 1;
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    background-color: #3d3d3d;
    border-radius: 5px;
    box-shadow: 0 2px 7px black;
  }
}
