.menuCloseBtn {
  width: 35px;
  height: 35px;
  position: relative;
  left: 75%;
  padding: 0;
  margin: 10px 0 -10px 0;
}

.menuCloseBtn:after {
  content: "";
  height: 35px;
  border-left: 2px solid rgb(29, 29, 48);
  position: absolute;
  transform: rotate(45deg);
  left: 15px;
}

.menuCloseBtn:before {
  content: "";
  height: 35px;
  border-left: 2px solid rgb(29, 29, 48);
  position: absolute;
  transform: rotate(-45deg);
  left: 15px;
}

.menuButton {
  position: relative;
  top: 10px;
  right: 10px;
  z-index: 100;
  position: fixed;
  background-color: #1a2850;
}

.menuClicker {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px;
}

.navDivEntry {
  height: 60px;
  background-color: #5a3da4;
  padding: 0;
  margin: 0;
}

.navStickTop {
  height: 60px;
  width: 100%;
  background-color: #5a3da4;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 100;
}

.navDivMobile {
  padding: 10px;
}

.navButton {
  color: white;
  font-family: "Josefin Sans" !important;
  display: inline-block;
  font-size: 2.5em;
  margin: 0 20px 0 20px;
  padding: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.navButton:hover {
  cursor: pointer !important;
  color: skyblue !important;
}

.navButtonMobile {
  color: rgb(29, 29, 48) !important;
  font-family: "Josefin Sans" !important;
  display: list-item !important;
  font-size: 2.5em;
  margin: 20px auto;
}

.navButtonMobile:hover {
  cursor: pointer !important;
  color: gray !important;
}
